{
    "presets": [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": "20"
        }
      }
    ],
    "plugins": ["babel-plugin-add-import-extension"]
 }